{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Postings</title>
    <link rel="stylesheet" href="{% static 'users/applyjob.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <div class="options-panel">
            <div class="logo">
                <img src="https://www.sctce.ac.in/images/SREE%20CHITRA%20THIRUNAL.jpg" alt="College Logo">
            </div>
            <ul>
                <li><a href="{% url 'stud_dashboard' %}" id="dash">Dashboard</a></li>
                <li><a href="{% url 'stud_apply_job' %}" id="apply">Apply for Jobs</a></li>
                <li><a href="{% url 'stud_results' %}" id="result">Results</a></li>
                <li><a href="#" id="notifications-link">Notifications</a></li>
            </ul>
        </div>
        <div class="notification-popup" id="notification-popup">
            <span class="close" onclick="closeNotification()">&times;</span>
            <h2>Notifications</h2>
            <div class="notification-content">
                <div class="notification">
                    {% for notification in notifications %}
                    <p><strong>></strong>   {{ notification.message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="job-postings">
            <h2>Job Postings</h2>
            <form action="apply_job/" method="POST">
                {% csrf_token %}
                {% for job_with_name in job_postings %}
    <div class="job-box">
        <input type="checkbox" id="job{{ job_with_name.job.job_id }}" name="job_ids[]" value="{{ job_with_name.job.job_id }}">
        <label for="job{{ job_with_name.job.job_id }}"><strong>{{ job_with_name.job.job_title }}</strong></label>
                    <p>Company:<strong> {{ job_with_name.company_name }}</p></strong>
                    <p>Title:<strong> {{ job_with_name.job.job_title }}</p></strong>
                    <p>Type:<strong> {{ job_with_name.job.job_type }}</p></strong>
                    <p>Requirement:<strong> {{ job_with_name.job.job_requirement }}</p></strong>
                    <p>Package:<strong> {{ job_with_name.job.job_package }}</p></strong>
                    <p>Last Date to Apply:<strong> {{ job_with_name.job.last_date }}</p></strong>
                </div>
                {% endfor %}
                <button type="submit">Apply</button>
            </form>
        </div>
    </div>

    <script src="{% static 'users/applyjob.js' %}"></script>
</body>
</html>
